.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;

  .nav-link {
    list-style: none;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.img {
  width: 25rem;
  margin-top: -5rem;
}
