.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;

  .nav-link {
    list-style: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

.img {
  margin-left: 4.5rem;
  width: 23rem;
  margin-top: -5rem;
}
